<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- xml 파일의 유효성 체크를 위한 부분 -->
<mapper namespace="inquiry">

	<!-- 문의사항 목록 조회 -->
	<select id="selectList" resultType="inquiry">
		SELECT Q_NUM
			, MEMBER_NUM
			, CATEGORY_NUM
			, STATUS
			, Q_TITLE
			, Q_CONTENT
			, TO_CHAR(Q_DATE,'YYYY-MM-DD HH24:MI') AS Q_DATE
			, A_CONTENT
			, TO_CHAR(A_DATE,'YYYY-MM-DD HH24:MI') AS A_DATE
			, COUNT
		FROM QUESTION
		ORDER BY Q_NUM DESC
	</select>
	
	 <!-- 문의사항 상세보기용 쿼리문 -->
	<select id="selectDetailView" resultType="inquiry" parameterType="int">
		SELECT Q_NUM
			, MEMBER_NUM
			, CATEGORY_NUM
			, STATUS
			, Q_TITLE
			, Q_CONTENT
			, TO_CHAR(Q_DATE,'YYYY-MM-DD HH24:MI') AS Q_DATE
			, A_CONTENT
			, TO_CHAR(A_DATE,'YYYY-MM-DD HH24:MI') AS A_DATE
			, COUNT
		FROM QUESTION
		WHERE Q_NUM = #{QNum}
	</select>
	
	<update id="inquiryWrite" parameterType="inquiry">
		UPDATE QUESTION
		SET STATUS = 'Y'
		  , A_CONTENT = #{AContent}
		  , A_DATE = SYSDATE
		WHERE Q_NUM = #{QNum}
	</update>
	
</mapper>















